.input-button-form {
  position: relative;
}

.input-button {
  position: relative;
  right: 120px;
  top: -2px;
  border-radius: 0 4px 4px 0;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14;
  font-weight: 500;
  color: white;
  background-color: #33a0ff;
}

.input-button:hover {
  background-color: #2e90e5;
  color: white;
  border-color: #2e90e5;
  cursor: pointer;
}

.inpt-button-medium {
  padding: 20.5px 38px;
}

.inpt-button-large {
  padding: 27.5px 38px;
}
